html {
  background-color: $background;
}

body {
  font-family: open-sans;
  color: $text-secondary;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text-primary;
  letter-spacing: 1.5px;
  margin: 0;
}

p {
  margin: 0;
}
