.ride-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;

  .zone-name {
    text-align: end;
    letter-spacing: 1.1px;
    margin-block-start: 4px;
  }

  .booking-info img {
    width: 22px;
    margin-inline-end: 3px;
  }
}
